Name = Muskan

Roll no. = 250246

Course = BCA 1st year

Course code = CA23.136

Purpose of the program is to use for loops

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/muskan25set/pythonprogram/blob/main/notebooks/forloops.ipynb)

Program to print number 1 to 5.

In [1]:
for i in range(1, 6): #Print numbers 1 through 5
    print(i)

1
2
3
4
5

Program to loop through a list.

In [2]:
fruits = ["apple", "banana", "mango","cheery"] #List of fruit strings

for fruit in fruits: #Print each item in the list
    print(fruit)

apple
banana
mango
cheery

Program using range() variation.

In [4]:
for i in range(5): #Loop 5 times, strating from 0
    print(i)

for i in range(2, 11, 2): #Loop from 2 to 10, skipping by 2
    print(i)

0
1
2
3
4
2
4
6
8
10

Progam to print the given number's multiplication table.

In [9]:
num = int(input("Enter a number: "))  #Take number input from user

for i in range(1, 11): #Take number input from user
    print(num, "x", i, "=", num * i)

Enter a number: 23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

To check the given number's factorial.

In [7]:
num = int(input("Enter a number: "))
factorial = 1 #Initialize factorial variable

for i in range(1, num + 1):
    factorial *= i #Multiply each number to factorial

print("Factorial:", factorial)

Enter a number: 14
Factorial: 87178291200

Program to count digits in a number.

In [8]:
num = input("Enter a number: ")
count = 0 #Initialize counter

for digit in num: #Loop through each digit
    count += 1 # Increase count for each digit

print("Total digits:", count)

Enter a number: 23
Total digits: 2